*~
*.o

# Bins
project
test
evaluator
cli 

# build 
build

# jsp
test_project

# Clang
compile_flags.txt

# valgrind
vgcore.*

tmp/
tmp/**/*

evaluator
tmp.out

#outputs
*.out

# Graphs
graph
graph/**/*
graph.csv
graph.raw

#python 
**/*.py
