# Editors
*~
/.vscode
## Used for clang
/compile_flags.txt


# Building files
*.o
/build


# Bins
/project
/test
/evaluator
/cli 


# Valgrind
vgcore.*


# Tmp dirs and files, should be used for temporary tests
tmp**/*


# Outputs, used for debug
*.out


# Dependencies graph generation
/graph**/*


# Python
**/*.py

#Latex
*.log
*.aux
*.nlo
*.toc
*.pdf
